/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@charset "UTF-8";


html{
	scroll-behavior: smooth;
}

a, a:hover{
	text-decoration: none;
}

.centro{
	margin: 0 auto;
}



div#cabecalho{
	padding-top: 100px;
	padding-bottom: 20px;
	margin: 0 auto;
	/* pra não ficar atrás do menu */
}



body, #cabecalho{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	background-image: url(../imagens/l2b.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

footer{
	width: 100%;
	color: lightgray;
	text-align: center;
	background-color: black;
	padding: 10px;
	bottom: 0;
}


/* Navegação **************************************************/

#menu{
	box-shadow: 0 4px 16px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}

nav ul li{
	padding-left: 20px;
	padding-right: 20px;
}

#logoMenu{

	max-width: 300px;
}


nav ul li a.nav-link{
	font-size: 1.6em;
	color: black;
}



/* Cards geradores *******************************/

.card li.estado{
	list-style: none;
}

.finalizado{
	color: green;
}

.utilizavel{
	color: orange;
}

.emConstrucao{
	color: red;
}


/* Oráculos ***************************************/
div.boxPrincipal{
	width: 98%;
	margin: 0 auto;
	background-color: white;
	padding: 10px;
	padding-bottom: 200px;
	border: 1px solid black;
	border-radius: 10px;
	overflow-x: hidden;
}


.borda{
	border: 1px solid black;
	box-shadow: 2px 2px 10px black;
}


div#log{
	background-color: white;
	padding-top: 10px;
	border: 1px solid black;	
	border-radius: 1%;
	height: 500px;
	overflow-y: scroll;
    overflow-x: hidden;
}

div.divFlex{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.divFlex button{
	margin: 2px;
	/*align-self: flex-start;*/
	flex-basis: 100px;
}




/* Tipografia *************************************************/
body{
	font-family: 'Roboto', sans-serif;
}

div#log.imprimir{
	padding: 20px;
	height: auto!important;
	overflow-y: hidden;
	border: none;
}

/* Imagens *************************************************/


/* Cards ****************************************************/

.cards-img{
	height: 200px;
	display: block;
	margin: 5px auto;
}

.cards-img:hover{
	transform: scale(1.2);
}


/* Media Queries *************************************************/

@media print {
	body{
			/*font-size: 1.3em!important;*/
		}	
	  body * {
	   visibility: hidden;
	  }

	  #divImprimir, #divImprimir * {
	    visibility: visible;
	  }

	  #divImprimir{
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	  }

	  .btn-remover{
	  	visibility:hidden!important;
	  }
		
}

@media (max-width: 575.98px) {{

	div#cabecalho{
		width: 90%;
	}

	div.boxPrincipal{
	padding-bottom: 20px;
	}

	nav ul li{
	padding-left: 10px;
	
	}

	nav ul li a.nav-link{
	font-size: 0.8em;
	}
	
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {


}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {


}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}











































