html{
	scroll-behavior: smooth;
}

body{
	font: "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
	width: 100%;
	background-color: #E4E4E4!important;
	height: 100vh;
	margin: 0;
	padding: 0;
}

div#cabecalho{
	background-color: #140D0D;
	color: #E4E4E4;
}

.clear{ 
    clear:both; 
} 

.right{ 
    float: right;
    text-align: right;
} 

.negrito{
	font-weight: bolder;
}

.centro{
	text-align: center;
}

.remover{
	color: red;
	cursor: pointer;
}


div#botoes{
	width: 95%;
}

div#tela{
	padding-bottom: 40px;
}

/* Imagens -------------------------------*/
.imgrepresent{
 width: 80%;
 margin-top:20px;
}

/*
------------FICHA------------------------------
*/

.fichas{
	margin: 10px;
	width: 100%;
}

.fichaFinal { 
	background-color: #fff;
	width: 100%;
	text-align: left;
	display: inline-block;
	padding: 15px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 2%;
    font-size: 0.8em;    
    box-shadow: 4px 4px 6px black; 
}

span.nomeFicha{
	font-size: 1.3em;  
	text-align: center;
	display: block;
}

div#humano, div#infectado{
	margin-top: 10px;
	margin-bottom: 60px;
	padding: 10px;
}

.negrito{
	font-weight: bold;
}

.borda{
	border: 1px solid black;
	padding: 5px;
	min-height: 250px; /* para que a caixa de ataques não fique menor qu a de defesas.  */
}

@media print {
	body{
			/*font-size: 1.3em!important;*/
		}	
	  body * {
	   visibility: hidden;
	  }

	  #divImprimir, #divImprimir * {
	    visibility: visible;
	  }

	  .remover{
	  	visibility: hidden!important;
	  }

	  #divImprimir {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 95vw;
	  }
		
}

/* Extra small devices) */

@media (max-width: 576px){

  .imgrepresent{
 	width: 100%;
 }
 

  img#logo{
  	width: 100%;
  }

  div#botoes button{
	margin-left: 5px;
	}
}

@media (min-width: 577px) and (max-width: 800px){
	
}